body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #FE980F;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

.nav-justified {
    width: 100%;
}


.reverse-spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	height: 100px;
	width: 100px;
	border: 4px solid transparent;
	border-radius: 50%;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	content: "";
	border: 4px solid transparent;
	border-radius: 50%;
	-webkit-animation: spinBack 1s linear infinite;
	animation: spinBack 1s linear infinite;
}

.title-mb-30 {
    padding-bottom: 30px;
}