.step3 .anticon.anticon-right.ant-collapse-arrow{
    padding-top: 30px !important;
}

.step3-detail{
    padding-top: 15px;
    padding-bottom: 15px;
}

.mompay-wrapper{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.logo-momo{
    margin-right: 10px;
}