.home{
    background-color: white;
}



.home-loading {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99999;
    background-color: #ffffff;
    overflow: hidden;
  }