
.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.search_box input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url('/static/images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 130px;
}
