
section {
  position: relative
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important
}

.lis-light {
  color: #707070
}

.font-weight-normal {
  font-weight: 400 !important
}

h5 {
  font-size: 1.25rem
}

.price-table {
  -webkit-transition: 0.3s ease
}

.lis-brd-light {
  border-color: #dadada !important
}

.lis-rounded-top {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px
}


.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important
}

.lis-latter-spacing-2 {
  letter-spacing: 2px
}

.text-uppercase {
  text-transform: uppercase !important
}

.lis-font-weight-500 {
  font-weight: 500
}

.display-4 {
  font-size: 3.5rem
}

.price-table sup {
  top: -1.5em
}

.price-table sup,
.price-table small {
  font-size: 1.25rem
}

.price-table small {
  font-size: 1.25rem
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0
}

.lis-brd-light {
  border-color: #dadada !important
}

.bg-white {
  background-color: #fff !important
}

.py-5 {
  padding-bottom: 3rem !important
}

.lis-line-height-3 {
  line-height: 3 !important
}

.list-unstyled {
  padding-left: 0;
  list-style: none
}

.lis-line-height-3 {
  line-height: 3 !important
}

.btn-primary-outline {
  background-color: transparent;
  color: #ddaa44 !important;
  border-color: #ddaa44
}

.btn {
  color: #fff;
  padding: .5rem 1.3rem;
  font-size: 1rem;
  word-wrap: break-word
}

.lis-rounded-circle-50 {
  border-radius: 50px
}

.pl-2,
.px-2 {
  padding-right: .5rem !important
}

.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background-color: #ddaa44;
  border-color: #ddaa44;
  color: #fff !important
}

.lis-bg-primary-first {
  background-color: #727ebb
}

.lis-bg-primary {
  background-color: #ff214f
}
.lis-bg-primary-last {
  background-color: #ddaa44
}

.btn-primary {
  background-color: #ddaa44;
  border-color: #ddaa44
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ddaa44;
  border-color: #ddaa44
}

.price-table.active {
  transform: scale(1.045);
  -webkit-transform: scale(1.045)
}

.price-table {
  -webkit-transition: 0.3s ease
}

.lis-rounded-bottom {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px
}