/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.dropdown:hover > .dropdown-menu {
    display: block;
    border-top-width: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 3px solid #343a40;
}
  
.megamenu {
    position: static;
}
.megamenu .dropdown-menu {
    border: none;
    width: 100%;
}

.catalogue_menu h3{
    font-size: 1.20rem;
    padding: 20px 0 0 0;
    text-transform: uppercase;
}

.catalogue_menu a.dropdown-item{
    padding-left: 0px;
    border-bottom: 1px solid rgba(161, 161, 161, 0);
    width: fit-content;
    padding-right: 10px;
    margin-bottom: 2px;
    padding-bottom: 0px;
    transition: ease-in;
    transition-duration: 0.4s;
}

.catalogue_menu a.dropdown-item:hover{
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(161, 161, 161);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.catalogue_menu .nav_tendencies h4, .designers h4{
    font-size: 1.0rem;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.catalogue_menu .nav_tendencies .maintitle_actual{
    font-size: 1.2rem;
}

.nav_picture{
    width: 100%;
}

.img_legend {
    padding-bottom: 20px;
}

.img_legend .text_legend{
    padding-left: 0px;
    color: rgb(77, 77, 77);
    border-bottom: 1px solid rgba(161, 161, 161, 0);
    width: fit-content;
    padding-right: 10px;
    margin-bottom: 2px;
    padding-bottom: 0px;
    transition: ease-in;
    transition-duration: 0.4s;
}

.img_legend .text_legend:hover{
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(161, 161, 161);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.designers ul.feature_designer{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 0px;
    padding-top: 10px;
}

.designers ul.feature_designer li{
    padding-bottom: 8px;
}

.designers ul.feature_designer li a{
    color: rgb(53, 53, 53);
    border-bottom: 1px solid rgba(161, 161, 161, 0);
    transition: ease-in;
    transition-duration: 0.4s;
}
.designers ul.feature_designer li a:hover{
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(161, 161, 161);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.designers ul.new_designer{
    padding-left: 0px;
    padding-top: 20px;
}

.designers ul.new_designer li{
    padding-bottom: 8px;
}

.designers ul.new_designer li a{
    color: rgb(53, 53, 53);
    border-bottom: 1px solid rgba(161, 161, 161, 0);
    transition: ease-in;
    transition-duration: 0.4s;
}
.designers ul.new_designer li a:hover{
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(161, 161, 161);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.designer_img_wrapper .designer_picture{
    width: 100%;
    height: 290px;
}

.edito_img_wrapper .edito_picture{
    height: 300px;
    width: 100%;
}

.nav_cover h5{
    text-transform: uppercase;
    padding-top: 22px;
}

.nav_cover a{
    color: rgb(31, 31, 31);
}

.nav_cover .edito_img_legend{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 0.8em;
}
.nav_cover .edito_img_legend .text_legend_date{
    color: rgb(80, 80, 80);
}


.today_edito_img_wrapper .today_edito_picture, .today_edito_img_wrapper_1 .today_edito_picture{
    height: 140px;
    width: 100%;
} 

.today_edito_img_wrapper_1{
    margin-bottom: 10px;
} 

.today_edito_img_wrapper{
    padding-top: 10px;
} 
.today_post_title{
    color: rgb(92, 91, 91);
}
.today_post_text{
    font-size: 0.8em !important;
}



/* -----------Responsive------------- */
/* XS */
@media (max-width: 767px) {
    .middle-nav{
        display: none;
    }
    .home_top_banner{
        margin-top: 0px !important;
    }
}