/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.dropdown:hover > .dropdown-menu {
    display: block;
}
  
.megamenu {
    position: static;
}
.megamenu .dropdown-menu {
    border: none;
    width: 100%;
}

.shop-menu.clearfix.pull-right{
    bottom: 40%;
    position: absolute;
    right: 0px;
}

.custom-badge{
    position: absolute;
    left: 56%;
}
.heart-custom-badge{
    position: absolute;
    left: 22%;
}