.top-auto{top:auto}

.navbar-nav{
    margin: 0 auto;
}

.navbar-nav ul li{
    padding: 0 5px;
}

.navbar-nav li a{
    text-transform: uppercase;
    font-size: 13px;
}

/* Jaune nav barr #efb616 !important */