/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.dropdown:hover > .dropdown-menu {
    display: block;
}
  
.megamenu {
    position: static;
}
.megamenu .dropdown-menu {
    border: none;
    width: 100%;
}

