.home{
    background-color: white;
}



.home-loading {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99999;
    background-color: #ffffff;
    overflow: hidden;
}

.home_top_banner{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.baner-text{
    text-align: center;
    padding: 20px;
}
.baner-text .baner-main-title{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 5px;
}
.baner-text p{
    color: rgb(70, 70, 70);
}
.baner-text span{
    color: rgb(59, 59, 59);
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.baner-text span:hover{
    border-bottom: 1px solid black;
    color: black;
    transition: ease-out;
    transition-duration: 0.3s;
}
.baner-text a{
    color: rgb(70, 70, 70);
}

.home-cover-wrapper{
    height: 700px;
    width: 100%;
    margin-bottom: 30px;
}

.latest-articles-title{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: normal;
}
.latest-row{
    margin-bottom: 40px;
}
.latest-legend p{
    color: rgb(92, 92, 92);
    margin-bottom: 5px !important;
    font-size: 0.8rem;
}
.latest-legend p span{
    color: rgb(37, 37, 37);
    display: inline-block;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: ease-in-out;
    transition-duration: 0.3s;
    font-size: 0.8rem;
}
.latest-legend p span:hover{
    border-bottom: 1px solid black;
    color: black;
    transition: ease-out;
    transition-duration: 0.3s;
}

.latest-legend h4{
    font-size: 1.5rem;
    padding-top: 15px;
    line-height: 1.2;
    font-weight: normal;
}


.home-right-side{
    padding-left: 30px;
    padding-right: 0px;
}
.home-right-side .what-to-buy-title{
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: normal;
}
.home-what-to-buy .what-to-buy-legend p{
    color: rgb(92, 92, 92);
    margin-bottom: 5px !important;
}
.home-what-to-buy .what-to-buy-legend span{
    color: rgb(92, 92, 92);
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.home-what-to-buy .what-to-buy-legend span:hover{
    border-bottom: 1px solid black;
    color: black;
    transition: ease-out;
    transition-duration: 0.3s;
}

.what-to-buy-legend h4{
    padding-top: 15px;
    line-height: 1.2;
    font-weight: normal;
    /* padding-bottom: 10px; */
}

.home-what-to-buy{
    width: 100%;
}


.home-soft-category{
    padding-bottom: 50px;
    border-bottom: 2px solid black;
}

.selling-showcase{
    padding-top: 50px;
    margin-bottom: 50px;
}

.drawer_menu{
    display: none;
}




/* -----------Responsive------------- */
/* XS */
@media (max-width: 767px) {
    .latest-articles-title{
        text-align: center;
    }
    .latest-row {
        padding: 0 10px;
    }
    .latest-legend h4 {
        font-size: 1.2rem;
    }
    .home-cover-wrapper {
        height: 510px;
    }
    .home-right-side {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 60px;
    }
    .home-right-side .what-to-buy-title {
        padding-bottom: 0px;
    }
    .what-to-buy-legend h4 {
        padding-top: 6px;
        margin-bottom: 0.2em;
    }
    .home_categorie {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 30px;
    }
    .scroll-wrapper .item {
        width: 100%;
        flex-shrink: 0;
    }
    .showcase-pic-wrapper img {
        width: 100%;
        height: 100%;
    }
    .drawer_menu{
        display: block;
    }
}