.features_items {
    overflow: hidden;
}

h2.title {
    color: #ddaa44;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new,
.sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #ddaa44;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background: rgba(221, 170, 68, 0.55);
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #ddaa44;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
    background: #fff;
    color: #ddaa44;
}

.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart:hover {
    background: #ddaa44;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #ddaa44;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.choose ul li{
    margin: 0 auto;
}

.choose ul li a i {
    margin-right: 5px;
}

.choose ul li a:hover {
    background: none;
    color: #ddaa44;
}

.tooltip-arrow, .choose ul li a + .tooltip > .tooltip-inner{
    background-color: #ddaa44 !important;
}
