.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.left-sidebar h2,
.brands_products h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.left-sidebar h2:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}

h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul {
    padding-left: 20px;
}

.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}

.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
    background-color: #fff;
    color: #696763;
}

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.price-range {
    margin-top: 30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}

.tooltip-inner {
    background-color: #FE980F;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #FE980F;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.padding-right {
    padding-right: 0;
}
