
.scroll-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-wrapper {
  max-width: 100%;
}

.scroll-wrapper .item-container {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.scroll-wrapper .item {
  width: 280px;
  padding: 10px;
  margin-right: 2px;
  flex-shrink: 0;
}

.scroll-wrapper .item-controls {
  text-align: right;
  padding: 10px 0px;
}

.showcase-pic-wrapper img{
  width: 100%;
  height: 300px;
}

.fa-2x.chevron-lft{
  margin-right: 10px;
  color: rgb(126, 126, 126);
}
.fa-2x.chevron-rgt{
  margin-left: 10px;
  color: rgb(126, 126, 126);
}

.fa-2x.chevron-lft:hover, .fa-2x.chevron-rgt:hover{
  cursor: pointer;
  color: rgb(53, 53, 53);
}

.showcase-pic-legend{
  padding-top: 15px;
}

.horizontal_scroll_add_to_cart{
  color: rgb(37, 37, 37);
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  transition: ease-in-out;
  transition-duration: 0.3s;
  font-size: 0.8rem;
}

.horizontal_scroll_country{
  color: rgb(37, 37, 37);
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 1px;
  transition: ease-in-out;
  transition-duration: 0.3s;
  font-size: 0.8rem;
}