.cart-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart-header{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.cart_main_title{
    text-transform: uppercase; 
    padding-bottom: 20px;
}

.cart-header h6{
    text-transform: uppercase;
}

.cart-header div{
    padding: 0px;
}

.picture-box{
    padding: 10px 0px;
}

.cart-description-text{
    padding: 10px 0px 0px 0px;
}

.cart-description-text-hide{
    padding: 10px 0px 0px 0px;
}

.cart-description-text h6{
    text-transform: uppercase;
}

.cart-description-text h6 a{
    color: black;
}

.delete-item button:hover{
    color: rgb(197, 0, 0);
}

.delete-item button:active{
    color: rgb(133, 1, 1);
}

.delete-item button{
    color: gray;
}

.cart_item-img-wrapper{
    padding-right: 10px !important;
}


.checkout-button{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.checkout-button a{
     border-radius: 0px;
     padding: 8px 40px;
     text-transform: uppercase;
}

.bill-info-wrapper{
    padding: 20px;
    width: 100%;
}

.bill-info{
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}

.total-group p{
    text-align: right;
}

.total-group{
    border-bottom: 1px solid lightgray;
}

.line-total .price-total{
    text-align: right;
}

.line-total{
    padding-top: 10px;
}
.cart-size-mobile {
    display: none;
}



/* -----------Responsive------------- */
/* XS */
@media (max-width: 767px) {
    .cart-header {
        display: none;
    }
    .cart-description-text {
        padding-right: 10px;
    }
    .cart-description-text-hide {
        display: none;
    }
    .delete-item {
        display: none;
    }
    .cart-size-mobile {
        display: block;
    }
    .checkout-button {
        padding-top: 20px;
        padding-right: 0px;
    }
    .checkout-button a{
        width: 100%;
    }
    .bill-info-wrapper {
        padding: 20px 0px;
    }
    .continue_shop {
        padding-top: 0px !important;
    }
    .cart_main_title{
        padding-bottom: 8px;
        border-bottom: 1px solid;
        width: 100%;
    }
}