.cart-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart-header{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.cart-header h6{
    text-transform: uppercase;
}

.cart-header div{
    padding: 0px;
}

.picture-box{
    padding: 10px 0px;
}

.cart-description-text{
    padding: 10px 0px 0px 0px;
}

.cart-description-text h6{
    text-transform: uppercase;
}

.cart-description-text h6 a{
    color: black;
}

.delete-item button:hover{
    color: rgb(197, 0, 0);
}

.delete-item button:active{
    color: rgb(133, 1, 1);
}

.delete-item button{
    color: gray;
}

.cart_item-img-wrapper{
    padding-right: 10px !important;
}


.checkout-button{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.checkout-button a{
     border-radius: 0px;
     padding: 8px 40px;
     text-transform: uppercase;
}

.bill-info-wrapper{
    padding: 20px;
    width: 100%;
}

.bill-info{
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}

.total-group p{
    text-align: right;
}

.total-group{
    border-bottom: 1px solid lightgray;
}

.line-total .price-total{
    text-align: right;
}

.line-total{
    padding-top: 10px;
}


/* -----------Responsive------------- */
/* XS */
@media (max-width: 767px) {
    .cart-header {
        display: none;
    }
}