.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.recommended-item-control i:hover {
    background: #ccccc6;
}

.carousel-item.recom {
    padding-left: 0px;
}

.our_partners {
    overflow: hidden;
}

.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}

.our_partners ul li a:hover {
    background: none;
}
